a[class="active"]::after {
    content: '';
    display: block;
    background-color: #B20600;
    height: 3px;
    margin-left: 1px;
    margin-top: 3px;
    border-radius: 99px;
    width: 32px;
}

@media only screen and (max-width: 900px) {
    a[class="active"]::after {
        content: '';
        display: block;
        background-color: #B20600;
        height: 3px;
        margin: 0 auto;
        border-radius: 99px;
        width: 32px;
    }

}